<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
  font-family: "Poppins", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.overlay {
  border-image: fill 1
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(30px);
}

.footer-container {
  align-content: center;
  text-align: center;
  height: 3rem;
  padding: 10px;
}

    </style>
</head>
<body>
     <footer>
    <div class="footer-container overlay">
      <h2>Paresh Patil</h2>
      <p>Extra information</p>
    </div>
  </footer>
</body>
</html>