<h2>To Do List</h2>
<input [(ngModel)]="task" type="text">
<h3>{{task}}</h3>
<button (click)="addtask()">Add</button>
@for(item of todo; track $index) {
<ul><li>
  <div style="display: flex; justify-content: space-around;">
  {{item.id}}
  {{item.task}}
  <button (click)="delet(item.id)">delet</button>
  </div>
</li></ul>
}
<hr>
<div style="height: 100px; " [style.backgroundColor]="bgcolor">
  <h3>Dynamic style</h3>
<button (click)="cgbg()">change</button>
</div>
<hr>
<h2>component directive</h2>
<h3 *ngIf="show">hide</h3>