nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
ul{
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    list-style-type: none;
  
}
li a{
      text-decoration: none;
}
.Active{
    background-color: rgba(137, 43, 226, 0.43);
    color: white;
}

